body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #555;
}

#nav-bar {
    background-color: #333;
    overflow: hidden;
}

#nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  #nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  #nav-bar a.active {
    background-color:#ff8fbe;
    color: white;
  }




  /*Profile*/

  .grid-two-container-profile {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .grid-showcase-container {
    width: 100%;
    height: 100%;
  }

  .img-showcase{
    width: 100%;
    height: 100%;
  }


  .div-user-name{
    color: white;
    text-align: center;
  }